<div class="body">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="first_name">First name</label>
            <input
              id="first_name"
              type="text"
              class="form-control"
              formControlName="first_name"
              required
            >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="last_name">Last name</label>
            <input
              id="last_name"
              type="text"
              class="form-control"
              formControlName="last_name"
              required
            >
          </div>
        </div>
        <div class="col-xs-5" align="right">
          <div class="form-group">
            <label>Load data</label> <br>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="onPrefill()">F</button>
              <button type="button" class="btn btn-danger" (click)="onClear()">X</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              class="form-control"
              formControlName="email"
              required
              email
            >
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-2">
          <div class="form-group">
            <label for="country">Country of residence</label>
            <input
              id="country"
              type="text"
              class="form-control"
              formControlName="country"
              required
              email
            >
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label for="city">City</label>
            <input
              id="city"
              type="text"
              class="form-control"
              formControlName="city"
              required
              email
            >
          </div>
        </div>
      </div>

      <div formArrayName="educationList">
        <label for="educationList" style="margin-top: 8px">What are you studying and where? *</label>
        <div id='educationList'
             class="row"
             *ngFor="let educationCtrl of form.get('educationList')['controls']; let i = index"
             style="margin-top: 8px"
             [formGroupName]="i">
          <div class="col-xs-4" style="margin: 1px">
            <input type="text" class="form-control" placeholder="Institution" formControlName="institution">
          </div>
          <div class="col-xs-5">
            <input type="text" class="form-control" placeholder="Speciality" formControlName="speciality">
          </div>
          <div class="col-xs-1">
            <input type="text" class="form-control" placeholder="Year of completion" formControlName="year">
          </div>
          <div class="btn-group">
            <button class="btn btn-success" type="button" (click)="onEducationItemAdded()">+</button>
            <button class="btn btn-danger" type="button" (click)="onItemDeleted('educationList', i)">-</button>
          </div>
        </div>
      </div>

      <div formArrayName="workList">
        <label for="workList" style="margin-top: 8px">If you have any previous degrees, work experience, or volunteer
          activities let us know.</label>
        <div id='workList'
             class="row"
             *ngFor="let workCtrl of form.get('workList')['controls']; let i = index"
             style="margin-top: 8px"
             [formGroupName]="i">
          <div class="col-xs-3" style="margin: 1px">
            <input type="text" class="form-control" placeholder="company" formControlName="company">
          </div>
          <div class="col-xs-5">
            <input type="text" class="form-control" placeholder="position" formControlName="position">
          </div>
          <div class="col-xs-1">
            <input type="text" class="form-control" placeholder="start date" formControlName="startDate">
          </div>
          <div class="col-xs-1">
            <input type="text" class="form-control" placeholder="end date" formControlName="endDate">
          </div>
          <div class="btn-group">
            <button class="btn btn-success" type="button" (click)="onWorkItemAdded()">+</button>
            <button class="btn btn-danger" type="button" (click)="onItemDeleted('workList', i)">-</button>
          </div>
        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col-xs 12">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
